<table border="0" width="100%" align="center" cellpadding="10px" class="loginmaintable">
	<tr align="center" height="150px" >
		<td>
			<%= render :partial => 'shared/whyRidesABike' %>
		</td>
		<td>
			<%= render :partial => 'shared/login'%>
		</td>
	</tr>
</table>
