<div class="searchResultDiv <%= last ? '' : 'searchResultDivNotLast' %>">
	<%= count.to_s %>. <span class="searchResultItem"><%= link_to result.title, BlogPost.find(result.blog_post_id)%></span> <br />
	<span class="searchResultBlurb"><%= result.body %></span>
</div>