<div class="searchResultDiv <%= last ? '' : 'searchResultDivNotLast' %>">
	<%= count.to_s %>. <span class="searchResultItem"><%= link_to result.login, result%></span> <br />
	<span class="searchResultBlurb"><%= result.description %></span>
</div>