<h1>New pictures</h1>

<%= error_messages_for :pictures %>

<% form_for(@pictures) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pictures_path %>
